<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GameDataObjectContext" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=PinoLandMVC;Persist Security Info=True;integrated security=True;&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Fuqua.CompetativeAnalysis.MarketGame.Properties.Settings.PinoLandConnectionString"
      connectionString="Data Source=.;Initial Catalog=PinoLandMVC;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>